body {
    background-color: #f0f2f5;
  }
  
  .login-box,
  .sign-up-box {
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .bg-image {
    /* background-image: url('HCLogo.webp'); */
    background-color: rgba(29,21,101,255);
    background-size:cover;
    background-position: center;
    border-radius: 10px 0 0 10px;
  }
  
  .logo {
    width: 100px;
  }
  
  .w-45 {
    width: 45%;
  }
  
  .w-100{

    background-color: rgba(29,21,101,255);

  }
  .w-100:hover{
    background-color: rgba(147,149,155,255);
    color: black;
  }
  a {
  color: rgb(69, 17, 117);
  }

  @media (max-width: 768px) {
    .bg-image {
      display: none;
    }
  
    .login-box,
    .sign-up-box {
      border-radius: 10px;
    }
  }
  